server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ dns_or_IP }};


    ssl_certificate    /etc/ssl/3.238.132.162/3.238.132.162-cert.pem;
    ssl_certificate_key  /etc/ssl/3.238.132.162/3.238.132.162-key.pem;
    ssl_dhparam    /etc/ssl/3.238.132.162/dhparam.pem;


    
    location / {
        proxy_pass http://localhost:5601;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

