server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ dns_or_IP }};


    ssl_certificate      /etc/letsencrypt/archive/{{ dns_or_IP }}/cert1.pem;
    ssl_certificate_key  /etc/letsencrypt/archive/{{ dns_or_IP }}/privkey1.pem;
    


    
    location / {
        proxy_pass http://localhost:5601;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

